<a href="https://colab.research.google.com/github/JoTaijiquan/Python/blob/master/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python 101**

In [3]:
#Example 1-1-1

print ("hello, world!")

hello, world!

In [5]:
#Example 1-1-2

print ("สวัสดีชาวโลก")

สวัสดีชาวโลก

In [6]:
#Example 1-1-3

def MyFirstFunction():
    print ("มาเขียนโปรแกรมภาษา Python อย่างสนุกสนานกันเถอะ")

if __name__ == "__main__":
    MyFirstFunction()

มาเขียนโปรแกรมภาษา Python อย่างสนุกสนานกันเถอะ

In [7]:
#Example 1-1-4

'บันทึกสนุกๆ'
def MySecondFunction():
    'เขียนเล่น'
    print ("ขีดๆ","เขียนๆ","เรียนๆ","เล่นๆ")

if __name__ == "__main__":
    MySecondFunction()
    print ("Program Name is",__name__)
    print ("Program Document is",__doc__)
    print ("Function Name is", MySecondFunction.__name__)
    print ("Function Document is", MySecondFunction.__doc__)

ขีดๆ เขียนๆ เรียนๆ เล่นๆ
Program Name is __main__
Program Document is บันทึกสนุกๆ
Function Name is MySecondFunction
Function Document is เขียนเล่น

In [8]:
#Example 1-2-1

def func_1_2_1():
    'รู้จักกับตัวแปร'

    a = 2
    b = 3.1416
    c = "ABC"
    d = True
    e = False
    f = 4+3j
    g = None

    print ("a =",a)
    print ("b =",b)
    print ("c =",c)
    print ("d =",d)
    print ("e =",e)
    print ("f =",f)
    print ("g =",g)
    
if __name__ == "__main__":
    func_1_2_1()

a = 2
b = 3.1416
c = ABC
d = True
e = False
f = (4+3j)
g = None

In [9]:
#Example 1-2-2

def func_1_2_2():
    'ชนิดของตัวแปร'
    
    a = 2
    b = 3.1416
    c = "ABC"
    d = True
    e = False
    f = 4+3j
    g = None

    print ("type of a =",type(a))
    print ("type of b =",type(b))
    print ("type of c =",type(c))
    print ("type of d =",type(d))
    print ("type of e =",type(e))
    print ("type of f =",type(f))
    print ("type of g =",type(g))

if __name__ == "__main__":
    func_1_2_2()

type of a = <class 'int'>
type of b = <class 'float'>
type of c = <class 'str'>
type of d = <class 'bool'>
type of e = <class 'bool'>
type of f = <class 'complex'>
type of g = <class 'NoneType'>

In [10]:
#Example 1-2-3

def func_1_2_3():
    'การคำนวณทางคณิตศาสตร์'
    a = 10
    b = 3
    c = 0+1j
    
    print ("a+b =",a+b)
    print ("a-b =",a-b)
    print ("a*b =",a*b)
    print ("a/b =",a/b)
    print ("a%b =",a%b)
    print ("a//b = ",a//b)
    print ("a**b =",a**b)
    print ("(a+b)*(a-b)/13 =",(a+b)*(a-b)/13)
    print ("c+c = ",c+c) 
    print ("c*c =",c*c)
    
if __name__ == "__main__":
    func_1_2_3()

a+b = 13
a-b = 7
a*b = 30
a/b = 3.3333333333333335
a%b = 1
a//b =  3
a**b = 1000
(a+b)*(a-b)/13 = 7.0
c+c =  2j
c*c = (-1+0j)

In [11]:
#Example 1-2-4

def func_1_2_4():
    'การดำเนินการทางตรรกะ True=จริง False=เท็จ'

    a=True; b=False
    
    print ("True and True =",a&a)
    print ("True and False =",a&b)
    print ("False and False =",b&b)
    print ("True or True =",a|True)
    print ("True or False =",a|False)
    print ("False or False =",b|b)
    print ("Not True =",not(a))
    print ("a==a is",a==a)
    print ("9==8 is",a==b)
    print ("9>8 is",9>8)
    print ("8>=8 is",8>=8)
    print ("8!=9 is",8!=9)
    
if __name__ == "__main__":
    func_1_2_4()

True and True = True
True and False = False
False and False = False
True or True = True
True or False = True
False or False = False
Not True = False
a==a is True
9==8 is False
9>8 is True
8>=8 is True
8!=9 is True

In [12]:
#Example 1-2-5

def func_1_2_5():
    'การทำงานกับตัวแปร'

    a,b,c,d = 1,2,"hello", "world"

    print (a,b,c,d)
    print (a+b, c+d)
    print (a*3, c*3)
    a = a+4 
    b+=7
    print (a,b)
    c+="!"; d*=3
    print (c,d)
    
if __name__ == "__main__":
    func_1_2_5()

1 2 hello world
3 helloworld
3 hellohellohello
5 9
hello! worldworldworld

In [13]:
#Example 1-3-1

def func_1_3_1():
    'คำสั่ง input รับข้อมูลจากคีย์บอร์ด'

    x = input ("Input x ")
    print ("x=",x)
    print ("x=",x,type(x))
    print ("x+3 =",x+"3")
    x = int(x)
    print ("int(x) =",x,type(x))
    print ("x+3 =",x+3)
    x = float(x)
    print ("float(x) =",x,type(x))
    print ("x+3 =",x+3)

if __name__ == "__main__":
    func_1_3_1()

Input x 10
x= 10
x= 10 <class 'str'>
x+3 = 103
int(x) = 10 <class 'int'>
x+3 = 13
float(x) = 10.0 <class 'float'>
x+3 = 13.0

In [14]:
#Example 1-3-2

def func_1_3_2():
    'if ถ้ามาแบบนี้ แล้วจะไปแบบไหน'
    x=10; y=11

    if x==10:
        print ("Yes, x =",x)
    
    if y==10:
        print ("Yes, y =",y)
        
if __name__ == "__main__":
    func_1_3_2()

Yes, x = 10

In [17]:
#Example 1-3-3

def func_1_3_3():
    'สร้างเกมทายตัวเลข'

    x=input("Input x (guess 1-10) ")

    if x=="10":
        print ("Yes, you win x=10!!!")
    else:
        print ("Nooo, try again (try 10)")
        
if __name__ == "__main__":
    func_1_3_3()

Input x (guess 1-10) ถ
Nooo, try again (try 10)

In [18]:
#Example 1-3-4

def func_1_3_4():
    'พัฒนาเกมทายตัวเลข'

    x=input("Input x (guess 1-10) ")

    if x=="10":
        print ("Yes, you win x=10!!!")
    elif x=="9":
        print ("Too low, try again (try 11)")
    elif x=="11":
        print ("Too high, try again (try 10)")
    else:
        print ("Nooo, try again (try 11)")
        
if __name__ == "__main__":
    func_1_3_4()

Input x (guess 1-10) 10
Yes, you win x=10!!!

In [19]:
#Example 1-3-5

def func_1_3_5():
    'while ทำงานเป็นวงรอบ ตราบที่ยังเป็นจริง'

    x=0
    while x!=10:
        x = input ("Input x ")
        x = int(x)

        if x==10:
            print ("Yes, you win x=10!!!")
        elif x>10:
            print ("Too high, try again.")
        elif x<10:
            print ("Too low, try again.")
    
    print ("END GAME!!!")

if __name__ == "__main__":
    func_1_3_5()

Input x 5
Too low, try again.
Input x 10
Yes, you win x=10!!!
END GAME!!!

In [21]:
#Example 1-3-6

import random

def func_1_3_6():
    'การสร้างตัวเลขสุ่ม คำสั่ง random.seed() จะใช้ค่าตั้งต้นจากนาฬิกาของระบบ'

    random.seed()
    x = random.randint(1,10)
    print (x)

if __name__ == "__main__":
    func_1_3_6()

8

In [22]:
#Example 1-3-7

import random

def func_1_3_7():
    'นำ random ไปทำเป็นเกมทายตัวเลข'

    x=0
    random.seed()
    y=random.randint(1,10)

    while x!=y:
        x = int(input("Input x (1-10)"))
        if x==y:
            print ("Yes, you win x=",y,"!!!")
        elif x>y:
            print ("Too high, try again.")
        elif x<y:
            print ("Too low, try again.")
    
    print ("END GAME!!!")

if __name__ == "__main__":
    func_1_3_7()

Input x (1-10)5
Too high, try again.
Input x (1-10)10
Too high, try again.
Input x (1-10)3
Too low, try again.
Input x (1-10)4
Yes, you win x= 4 !!!
END GAME!!!

In [23]:
#Example 1-4-1

def func_1_4_1():
    'การทำงานเป็นวงรอบด้วยคำสั่ง for'

    for i in range(10):
        print (i)
if __name__ == "__main__":
    func_1_4_1()

0
1
2
3
4
5
6
7
8
9

In [24]:
#Example 1-4-2

def func_1_4_2():
    'กำหนดค่าใน range() สำหรับคำสั่ง for'

    for i in range(2,10):
        print (i,i+1)
if __name__ == "__main__":
    func_1_4_2()

2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [25]:
#Example 1-4-3

def func_1_4_3():
    'กำหนดค่าใน range ให้ข้ามทีละ 2'

    for i in range(1,20,2):
        print (i)
        if i>10:
            break
if __name__ == "__main__":
    func_1_4_3()

1
3
5
7
9
11

In [26]:
#Example 1-4-4

def func_1_4_4():
    'ตรวจสอบเงื่อนไขของวงรอบในคำสั่ง while'
    y = 2
    
    while y<10000:
        print ("y=",y)
        y*=2

if __name__ == "__main__":
    func_1_4_4()

y= 2
y= 4
y= 8
y= 16
y= 32
y= 64
y= 128
y= 256
y= 512
y= 1024
y= 2048
y= 4096
y= 8192

In [28]:
#Example 1-4-5

def func_1_4_5():
    'while True วงรอบอนันต์ ทำงานไปเรื่อยๆ จนกว่าจะเจอ break'

    while True:
        x = input ("Input 1-10 (10 to Break) ")
        if x=="10":
            print ("END LOOP!!!")
            break
        else:
            print ("x =",x)
if __name__ == "__main__":
    func_1_4_5()

Input 1-10 (10 to Break) 10
END LOOP!!!

In [29]:
#Example 1-5-1

def func_1_5_1():
    'ตัวแปรชนิด list'
    
    a = [9,2,5,3,8,7]
    b = ["abc",2,3,False]

    print ("a =",a)
    print ("b =",b)
    print ("type of a =",type(a))
    print ("type of b =",type(b))
    print ("a+b =",a+b)

if __name__ == "__main__":
    func_1_5_1()

a = [9, 2, 5, 3, 8, 7]
b = ['abc', 2, 3, False]
type of a = <class 'list'>
type of b = <class 'list'>
a+b = [9, 2, 5, 3, 8, 7, 'abc', 2, 3, False]

In [30]:
#Example 1-5-2

def func_1_5_2():
    'การเรียกข้อมูลใน list'
    
    a = [9,2,5,3,8,7]
    b = ["abc",2,3,False]
    c = "HELLO"

    print ("a[1] =",a[1])
    print ("b[0] =",b[0])
    print ("a[-2] =",a[-2])
    print ("a[1:4]",a[1:4])
    print ("c[2] =",c[2])
    print ("c[2:] =",c[2:])

if __name__ == "__main__":
    func_1_5_2()

a[1] = 2
b[0] = abc
a[-2] = 8
a[1:4] [2, 5, 3]
c[2] = L
c[2:] = LLO

In [31]:
#Example 1-5-3

def func_1_5_3():
    'list a[start:end] not include end'
    
    a = [9,2,5,3,8,7]
    print ('a =',a)
    a[0] = 7
    a[2] =['a','Hello',9+2]
    print ('a =',a)
    a[1:4] = 1,3
    print ('a =',a)

if __name__ == "__main__":
    func_1_5_3()

a = [9, 2, 5, 3, 8, 7]
a = [7, 2, ['a', 'Hello', 11], 3, 8, 7]
a = [7, 1, 3, 8, 7]

In [32]:
#Example 1-5-4

def func_1_5_4():
    'list ซ้อน list'
    
    a = [[3,4,5], 
        [6,7,8], 
        ['a','b','hello']]

    print (a)
    print (a[1])
    print (a[2][1])
    print (a[2][2][2])

if __name__ == "__main__":
    func_1_5_4()

[[3, 4, 5], [6, 7, 8], ['a', 'b', 'hello']]
[6, 7, 8]
b
l

In [33]:
#Example 1-5-5

def func_1_5_5():
    'การเพิ่มข้อมูลเข้าใน list'
    
    a =[]

    print ("1. a =",a)
    a.append("hello")
    print ("2. a =",a)
    a.append("world")
    print ("3. a =",a)
    a.extend(["!",9,9])
    print ("4. a =",a)
    a.insert (2,"สวัสดี")
    print ("5. a =",a)
    print ("6. find position of '!'=",a.index('!'))
    a.append([0,0,1])
    print ("7. a =",a)

if __name__ == "__main__":
    func_1_5_5()

1. a = []
2. a = ['hello']
3. a = ['hello', 'world']
4. a = ['hello', 'world', '!', 9, 9]
5. a = ['hello', 'world', 'สวัสดี', '!', 9, 9]
6. find position of '!'= 3
7. a = ['hello', 'world', 'สวัสดี', '!', 9, 9, [0, 0, 1]]

In [34]:
#Example 1-5-6

def func_1_5_6():
    'ลบข้อมูลออกจาก list'

    a = [1,2,3,4,5,6,3,4,3,6]
    b = "HELLO"

    print ("a =",a)
    print ("count 3 in a =",a.count(3))
    print ("count L in b =",b.count("L"))
    a.remove(3)
    print ("a =",a)
    a.remove(3)
    print ("a =",a)
    del a[0]
    print ("a =",a)

if __name__ == "__main__":
    func_1_5_6()

a = [1, 2, 3, 4, 5, 6, 3, 4, 3, 6]
count 3 in a = 3
count L in b = 2
a = [1, 2, 4, 5, 6, 3, 4, 3, 6]
a = [1, 2, 4, 5, 6, 4, 3, 6]
a = [2, 4, 5, 6, 4, 3, 6]

In [35]:
#Example 1-5-7

def func_1_5_7():
    'เรียงข้อมูลใน list ด้วย sort และ reverse'

    a = [2,3,6,1,4,8,1,5,3]
    b = a
    
    print ("a =",a)
    print ("b =",b)
    a.sort()
    print ("a =",a)
    print ("b =",b)
    b.reverse()
    print ("a =",a)
    print ("b =",b)



if __name__ == "__main__":
    func_1_5_7()

a = [2, 3, 6, 1, 4, 8, 1, 5, 3]
b = [2, 3, 6, 1, 4, 8, 1, 5, 3]
a = [1, 1, 2, 3, 3, 4, 5, 6, 8]
b = [1, 1, 2, 3, 3, 4, 5, 6, 8]
a = [8, 6, 5, 4, 3, 3, 2, 1, 1]
b = [8, 6, 5, 4, 3, 3, 2, 1, 1]

In [36]:
#Example 1-5-8

def func_1_5_8():
    'การ copy list'
    
    a = [1,3,5,7,9]
    b = a
    c = a[:]
    
    print ("a =",a)
    print ("b =",b)
    print ("c =",c,"\n")
    a[2] = 11
    print ("a =",a)
    print ("b =",b)
    print ("c =",c,"\n")
    b.append(13)
    print ("a =",a)
    print ("b =",b)
    print ("c =",c)

if __name__ == "__main__":
    func_1_5_8()

a = [1, 3, 5, 7, 9]
b = [1, 3, 5, 7, 9]
c = [1, 3, 5, 7, 9]

a = [1, 3, 11, 7, 9]
b = [1, 3, 11, 7, 9]
c = [1, 3, 5, 7, 9]

a = [1, 3, 11, 7, 9, 13]
b = [1, 3, 11, 7, 9, 13]
c = [1, 3, 5, 7, 9]

In [37]:
#Example 1-5-9

def func_1_5_9():
    'ตัวแปรชนิด tuple'
    
    a = (7,8,9)
    b = 3,4,5
    c = a+b
    
    print ("a= ",a)
    print ("type of a = ",type(a))
    print ("a[1] =",a[1])
    print ("b =",b)
    print ("type of b =",type(b))
    print ("c =",c)
    print ("type of c =",type(c))
    
if __name__ == "__main__":
    func_1_5_9()

a=  (7, 8, 9)
type of a =  <class 'tuple'>
a[1] = 8
b = (3, 4, 5)
type of b = <class 'tuple'>
c = (7, 8, 9, 3, 4, 5)
type of c = <class 'tuple'>

In [38]:
#Example 1-6-1

def func_1_6_1():
    'การใช้คำสั่ง for กับ tuple'

    for i in (1,1,2,3,5,8,13):
        print (i)

if __name__ == "__main__":
    func_1_6_1()

1
1
2
3
5
8
13

In [39]:
#Example 1-6-2

def func_1_6_2():
    'ใช้คำสั่ง for กับ list'

    for i in [1,1,2,3,5,8,13]:
        print (i)

if __name__ == "__main__":
    func_1_6_2()

1
1
2
3
5
8
13

In [40]:
#Example 1-6-3

def func_1_6_3():
    'ใช้ for กับ tuple ที่มีข้อมูลต่างชนิด'

    for i in ("abc",True,2,(3,4,5),"def"): print (i)

if __name__ == "__main__":
    func_1_6_3()

abc
True
2
(3, 4, 5)
def

In [41]:
#Example 1-6-4

def func_1_6_4():
    'ใช้ break เพื่อหยุดการทำงานของ for'

    for i in (1,3,5,7,8,9,10):
        print (i)
        if i==5:
            break
        else:
            pass
    print ("end at",i)
    
if __name__ == "__main__":
    func_1_6_4()

1
3
5
end at 5

In [42]:
#Example 1-6-5

def func_1_6_5():
    'เพิ่มจำนวนรอบตั้งต้นของ for'

    x = [1,3,5,7,9]
    for i in x:
        print (i)
        if i==5:
            x.extend([10,11,12,13])
    print (x)

if __name__ == "__main__":
    func_1_6_5()

1
3
5
7
9
10
11
12
13
[1, 3, 5, 7, 9, 10, 11, 12, 13]

In [43]:
#Example 1-6-6

def func_1_6_6():
    'การใช้ for กับตัวแปรชนิด string'

    for i in "Hello World!":
        print (i)
    
if __name__ == "__main__":
    func_1_6_6()

H
e
l
l
o

W
o
r
l
d
!

In [44]:
#Example 1-6-7

def func_1_6_7():
    'การใช้ for กับ tuple ของ string'

    for i in ("Superman", "Batman", "Aquaman"):
        print ("Hello",i)

if __name__ == "__main__":
    func_1_6_7()

Hello Superman
Hello Batman
Hello Aquaman

In [45]:
#Example 1-6-8

def func_1_6_8():
    'try กับ except เพื่อดักการเกิด error'

    x = [1,2,3,4]
    try:
        print (x[2])
    except:
        print ("Ha Ha Ha")
    finally:
        print ("Ho Ho Ho")
        
    try:
        print (x[5])
    except:
        print ("Error x is out of range")
    finally:
        print ("Ho Ho Ho")
    
if __name__ == "__main__":
    func_1_6_8()

3
Ho Ho Ho
Error x is out of range
Ho Ho Ho

In [46]:
#Example 1-7-1

def func_1_7_1(x):
    'การส่งค่าเข้าไปในฟังก์ชัน'

    print("x =",x)
if __name__ == "__main__":
    func_1_7_1(10)
    func_1_7_1("hello")
    func_1_7_1("สวัสดี")
    func_1_7_1(3+4)
    func_1_7_1([3,4,5])
    func_1_7_1("")

x = 10
x = hello
x = สวัสดี
x = 7
x = [3, 4, 5]
x =

In [47]:
#Example 1-7-2

def func_1_7_2(x,y):
    'ส่งค่าเข้าไปในฟังก์ชันสองตัว'

    print("x =",x)
    print("y =",y)
    print()

if __name__ == "__main__":
    func_1_7_2(10,20)
    func_1_7_2(10,"hello")
    func_1_7_2([123],(10,20,30))
    a = 10; b = 20
    func_1_7_2(a,b)

x = 10
y = 20

x = 10
y = hello

x = [123]
y = (10, 20, 30)

x = 10
y = 20

In [48]:
#Example 1-7-3

def func_1_7_3(x,y):
    'การเปลียนแปลงค่าตัวแปรในฟังก์ชันไม่ส่งผลต่อตัวแปรนอกฟังก์ชัน'

    x+=1
    y+=2
    print("func: x=",x," y=",y)

if __name__ == "__main__":
    x=10; y=20
    print("x=",x," y=",y)    
    func_1_7_3(x,y)
    print("x=",x," y=",y)

x= 10  y= 20
func: x= 11  y= 22
x= 10  y= 20

In [49]:
#Example 1-7-4

def func_1_7_4(x):
    'การส่งค่าตัวแปร list เข้าไปในฟังก์ชัน'

    x[0] +=10
    print ("Now x=",x)

if __name__ == "__main__":
    x=[10]
    print ("x=",x)
    func_1_7_4(x)
    print ("x=",x)
    func_1_7_4(x)

x= [10]
Now x= [20]
x= [20]
Now x= [30]

In [50]:
#Example 1-7-5

def func_1_7_5(x=10,y=20):
    'การกำหนดค่าเริ่มต้นให้กับตัวแปร parameter ของฟังก์ชัน'

    print(x,y)

if __name__ == "__main__":
    func_1_7_5()
    func_1_7_5(100)
    func_1_7_5(y=100)
    func_1_7_5(y="hello",x=100)

10 20
100 20
10 100
100 hello

In [51]:
#Example 1-7-6

def func_1_7_6(x):
    'คืนค่าออกจากฟังก์ชันด้วย return'

    x+=10
    return(x)

if __name__ == "__main__":
    y=0
    y=func_1_7_6(10)
    print(y)
    print (func_1_7_6(20))

20
30

In [52]:
#Example 1-7-7

def func_1_7_7(x,y,z):
    'return ค่าหลายๆ ตัวเป็น tuple'
    
    return(x,y,z)

if __name__ == "__main__":
    print(func_1_7_7(1,10,20))
    print(func_1_7_7((1,2),[3,4],"hello"))

(1, 10, 20)
((1, 2), [3, 4], 'hello')

In [53]:
#Example 1-7-8

def func_1_7_8(x,y):
    'ฟัง์ชันหนึ่ง มี return จากหลายจุดได้'

    if x>y:
        return x
    elif x<y:
        return y
    else:
        return "x=y!!"

if __name__ == "__main__":
    print(func_1_7_8(10,20))
    print(func_1_7_8(9,1))
    print(func_1_7_8(100,100))

20
9
x=y!!

In [54]:
#Example 1-8-1

def func_1_8_1():
    'ตัวแปรชนิด dictionary'
    
    x={ 'a': 'Hello',
        'b': 'World',
        'c': '!!!'
        }

    print (x)
    print (type(x))

if __name__ == "__main__":
    func_1_8_1()

{'a': 'Hello', 'b': 'World', 'c': '!!!'}
<class 'dict'>

In [55]:
#Example 1-8-2

def func_1_8_2():
    'การลบและเพิ่มข้อมูลใน dictionary'
    
    x={ 'Jo': '123 Bangkok',
        'Mo': '456 Nonthaburi',
        'Yo': '789 Chiangmai'
        }

    for name,address in x.items():
        print (name,address)
        
    del x['Jo']
    print ('\n--- Delete Key Jo ---\n')

    for name,address in x.items():
        print (name,address)

    x['Go'] = '200 Chiangrai'
    x['Do'] = '321 Lumpoon'
    print ('\n--- Add Key Go and Do ---\n')

    for name,address in x.items():
        print (name,address)

if __name__ == "__main__":
    func_1_8_2()

Jo 123 Bangkok
Mo 456 Nonthaburi
Yo 789 Chiangmai

--- Delete Key Jo ---

Mo 456 Nonthaburi
Yo 789 Chiangmai

--- Add Key Go and Do ---

Mo 456 Nonthaburi
Yo 789 Chiangmai
Go 200 Chiangrai
Do 321 Lumpoon

In [56]:
#Example 1-8-3

def func_1_8_3():
    'การอ่านและนับค่าใน dictionary'

    x={}

    x['A'] = 'Ada'
    x['B'] = 'Basic'
    x['C'] = 'Cobol'

    for first, second in x.items():
        print (first,second)
        
    print ("***************")
    if 'A' in x:
        print ("A for",x['A'])
            
    print ("***************")
    print(x)
    print (x.items())
    print ("number of item in x=",len(x.items()))

if __name__ == "__main__":
    func_1_8_3()

A Ada
B Basic
C Cobol
***************
A for Ada
***************
{'A': 'Ada', 'B': 'Basic', 'C': 'Cobol'}
dict_items([('A', 'Ada'), ('B', 'Basic'), ('C', 'Cobol')])
number of item in x= 3

In [57]:
#Example 1-8-4

def func_1_8_4():
    'เซ็ต'

    x = set((3,5,7,8,3,8,3))
    y = x.copy()
    
    print ("1)",x,y)
    x.add(22)
    print ("2)",x,y)
    y.add(3)
    print ("3)",x,y)
    x.remove(3)
    print ("4)",x,y)

if __name__ == "__main__":
    func_1_8_4()

1) {8, 3, 5, 7} {8, 3, 5, 7}
2) {3, 5, 7, 8, 22} {8, 3, 5, 7}
3) {3, 5, 7, 8, 22} {8, 3, 5, 7}
4) {5, 7, 8, 22} {8, 3, 5, 7}

In [58]:
#Example 1-8-5

def func_1_8_5():
    'ตัวดำเนินการอินเตอร์เซ็คชั่น และยูเนี่ยน สำหรับเซ็ต'

    x = set([5, 7, 8, 22])
    y = set([8, 3, 5, 7])
    print (x,y)
    print ("**************************")
    print (x.intersection(y))
    print (x & y)

    print (x.union(y))    
    print (x | y)

if __name__ == "__main__":
    func_1_8_5()

{8, 5, 22, 7} {8, 3, 5, 7}
**************************
{8, 5, 7}
{8, 5, 7}
{3, 5, 7, 8, 22}
{3, 5, 7, 8, 22}

In [59]:
#Example 1-8-6

def func_1_8_6():
    'ตัวดำเนินการตรวจสอบการเป็นซับเซ็ตหรือซูเปอร์เซ็ต'

    x= set([3,5,7,9])
    y= set([1,3,5,7,9,11])

    print ("y is superset of x is",y.issuperset(x))
    print ("x is subset of y is",x.issubset(y))
    print ("set(3,7) is subset of y is",set((3,7)).issubset(y))
    if x < y: print ("x<y is",x<y)

if __name__ == "__main__":
    func_1_8_6()

y is superset of x is True
x is subset of y is True
set(3,7) is subset of y is True
x<y is True

In [60]:
#Example 1-9-1

class Cat:
    'Class name Cat'

    def say(self):
        'Method name say'
        print ("Meow")

if __name__ == "__main__":
    tom = Cat()
    tom.say()
    print ("*****************")
    print ("Type of tom is",type(tom))
    print ("Type of tom.say is",type(tom.say))
    print ("Class's doc is",tom.__doc__)
    print ("Method's doc is",tom.say.__doc__)

Meow
*****************
Type of tom is <class '__main__.Cat'>
Type of tom.say is <class 'method'>
Class's doc is Class name Cat
Method's doc is Method name say

In [61]:
#Example 1-9-2

class Cat:
    'Initializer หรือ Constructor'

    def __init__(self):
        print ("Aow")
        
    def say(self):
        print ("Meow")

if __name__ == "__main__":
    tom = Cat()
    tom.say()
    tom.say()
    print()

    Cat()
    print()

    Cat().say()

Aow
Meow
Meow

Aow

Aow
Meow

In [62]:
#Example 1-9-3

class Cat:
    'คืนค่า string ออกมาจาก object'
    
    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
 
if __name__ == "__main__":
    tom = Cat()
    tom.say()
    print (tom)

Aow
Meow
I am a Cat

In [63]:
#Example 1-9-4

class Cat:
    'destructor'
    
    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("I am killed")
 
if __name__ == "__main__":
    tom = Cat()
    tom.say()
    del tom

Aow
Meow
I am killed

In [64]:
#Example 1-9-5

class Cat:
    '1 object, 2 instances'

    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("AAAAAAHHH")
 
if __name__ == "__main__":
    tom = Cat()
    garfield = tom
    print ("--Object Created--")

    tom.say()
    garfield.say()

    print ("---Kill tom---")
    del tom

    #tom.say()
    garfield.say()

    print ("---Kill garfield---")
    del garfield

Aow
--Object Created--
Meow
Meow
---Kill tom---
Meow
---Kill garfield---
AAAAAAHHH

In [65]:
#Example 1-9-6

class Cat:
    '2 objects, 2 instances'

    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("AAAAAAHHH")
 
if __name__ == "__main__":
    tom = Cat()
    garfield = Cat()

    tom.say()
    garfield.say()

    print ("---Kill tom---")
    del tom

    #tom.say()
    garfield.say()

    print ("---Kill garfield---")
    del garfield

Aow
Aow
Meow
Meow
---Kill tom---
AAAAAAHHH
Meow
---Kill garfield---
AAAAAAHHH

In [66]:
#Example 1-9-7

class Cat:
    'parameter และ attribute'

    def __init__(self,n,c):
        self.name = n
        self.color = c
    def say(self):
        print ("My name is",self.name)
 
if __name__ == "__main__":
    tom = Cat("tom","B&W")
    tom.say()
    print (tom.color)
    tom.name = "TOM"
    tom.color = "Black & White"
    tom.say()
    print (tom.name,"is",tom.color)

My name is tom
B&W
My name is TOM
TOM is Black & White

In [67]:
#Example 1-9-8
 
class Animal:
    'กำหนดค่าตั้งต้นสำหรับพารามิเตอร์ของคลาส'

    def __init__(self,common_name='Cat'):
        self.common_name = common_name
    def say(self):
        print ("I am",self.common_name)

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tweety = Animal("Bird")
    tweety.say()

I am Cat
I am Bird

In [68]:
#Example 1-9-9

'inheritance'
 
class Animal:
    def __init__(self,common_name='cat'):
        self.common_name = common_name
    def say(self,say='...'):
        print ("I am",self.common_name,say)

class Bird(Animal):
    def __init__(self):
        self.common_name = 'bird'
    def sing(self):
        print ("tweet tweet tweety")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tom.say("Meow")
    print ("************")

    tweety = Bird()
    tweety.say()
    tweety.say("Tweet")
    tweety.sing()

I am cat ...
I am cat Meow
************
I am bird ...
I am bird Tweet
tweet tweet tweety

In [69]:
#Example 1-9-10

'method overriding'
class Animal:
    def __init__(self,common_name='animal'):
        self.common_name = common_name
    def say(self,words='...'):
        print ("I am",self.common_name,words)

class Bird(Animal):
    def __init__(self):
        self.common_name = 'bird'
    def sing(self):
        print ("tweet tweet tweety")

class Cat(Animal):
    def __init__(self):
        self.common_name = 'cat'
    def say(self):
        print ("Meow")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tom.say("ha ha ha")
    print ("************\n")

    tweety = Bird()
    tweety.say()
    tweety.sing()
    print ("************\n")

    garfield = Cat()
    garfield.say()
    print (garfield.common_name)

I am animal ...
I am animal ha ha ha
************

I am bird ...
tweet tweet tweety
************

Meow
cat

In [70]:
#Example 1-9-11

'multiple inheritance'
class Animal:
    def __init__(self,common_name='animal'):   
        self.common_name = common_name
    def say (self,words='...'):
        print ("I am",self.common_name,words)

class Action:
    def walk(self):
        print ("walk")
    def run(self):
        print ("run")

class Cat(Animal,Action):
    def run(self):
        print ("run run run")
    def dance(self):
        self.walk()
        self.run()
        self.walk()


if __name__ == "__main__":
    tom = Cat()
    print (tom.common_name)
    tom.dance()
    print ("************\n")
    tom.say("ha ha ha")
    tom.walk()
    tom.run()

animal
walk
run run run
walk
************

I am animal ha ha ha
walk
run run run

In [71]:
#Example 1-9-12

'intention no description'
 
class Animal:
    name = 'no name'
    action = 'no action'
    common_name = 'no common name'
    
    def say(self):
        print ("I am",self.name,",",self.action)
    def animal_say(self):
        print ("Animal say",Animal.name,",",Animal.action)


if __name__ == "__main__":
    print ("1)")  
    tom = Animal()
    print (tom.name,tom.action)
    print (Animal.name,Animal.action)
    tom.say()
    tom.animal_say()
    print ("************\n")

    print ("2)")  
    tom.name = "Tom"
    tom.action = "running"
    print (tom.name,tom.action)
    print (Animal.name,Animal.action)
    tom.say()
    tom.animal_say()
    print ("************\n")

    print ("3)")  
    Animal.name = "..."
    Animal.action = "..."
    jerry = Animal()
    tom.say()
    jerry.say()
    print (Animal.name,Animal.action)
    print ("************\n")

    print ("4)")  
    tom.animal_say()
    jerry.animal_say()

1)
no name no action
no name no action
I am no name , no action
Animal say no name , no action
************

2)
Tom running
no name no action
I am Tom , running
Animal say no name , no action
************

3)
I am Tom , running
I am ... , ...
... ...
************

4)
Animal say ... , ...
Animal say ... , ...

In [72]:
#Example 1-9-13

'Program Document'
class Animal():
    'Class Animal'
    def say(self):
        'Method Say'
        print ("hi")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    print ("************\n")
    
    print(__doc__)
    print (Animal.__doc__)
    print (Animal.say.__doc__)
    print (__name__)
    print (Animal.__name__)
    print (Animal.say.__name__)

hi
************

Program Document
Class Animal
Method Say
__main__
Animal
say

In [73]:
#Example 1-10-1

def func_1_10_1():
    'สร้าง และเขียนข้อมูลลงในไฟล์ ถ้ามีไฟล์ชื่อเดิมอยู่จะสร้างใหม่ทับไป'
    try:
        with open("test.txt","w") as f:
            f.write ("hello, world!")
            f.write ("123 456 789\n")
            print ("HELLO", file=f)
            print ("WORLD", file=f)
        print ("File Created!!!")
    except:
        print ("Cannot open file!!!")

if __name__ == "__main__":
    func_1_10_1()

File Created!!!

In [74]:
#Example 1-10-2

def func_1_10_2():
    'เปิดไฟล์ และเขียนข้อมูลเพิ่ม ถ้าไม่มีไฟล์เดิม จะสร้างใหม่ให้'
    try:
        with open("test.txt","a") as f:
            f.write ("Append")
            f.write ("!!!\n")
            print ("HELLO", file=f)
            print ("AGAIN", file=f)
        print ("File Appended!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_2()

File Appended!!!

In [75]:
#Example 1-10-3

def func_1_10_3():
    'อ่านไฟล์'
    try:
        with open("test.txt","r") as f:
            a = f.readline()
            print (a)
            print (f.readlines())
            print ("***Current file position is",f.tell())
            f.seek(0)
            print ("***Set current file position to",f.tell())
            print (f.readlines())
            f.seek(3)
            print ("***Set current file position to",f.tell())
            print (f.readline())
            print ("***Current file position is",f.tell())
        print ("File Read!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_3()

hello, world!123 456 789

['HELLO\n', 'WORLD\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
***Current file position is 59
***Set current file position to 0
['hello, world!123 456 789\n', 'HELLO\n', 'WORLD\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
***Set current file position to 3
lo, world!123 456 789

***Current file position is 25
File Read!!!

In [76]:
#Example 1-10-4

def func_1_10_4():
    'เขียนภาษาไทยลงในไฟล์'
    try:
        with open("test.txt",mode="r+",encoding="utf-8") as f:
            f.writelines("สวัสดี")
            print ("ชาวโลก",file=f)
            print ("***Current file position is",f.tell())
            f.seek(0)
            print ("***Set file position to",f.tell())
            print (f.readlines())
        print ("File Opened!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_4()

***Current file position is 37
***Set file position to 0
['สวัสดีชาวโลก\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
File Opened!!!